<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
    <style type="text/css">
        svg {
            font: 10px sans-serif;
            shape-rendering: crispEdges;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #000;
        }

        path.domain {
            stroke: none;
        }

        .y .tick line {
            stroke: #ddd;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: slategray;
            shape-rendering: crispEdges;
        }
    </style>

</head>

<body>


    <script type="text/javascript">

        var margin = { left: 45, right: 10, top: 10, bottom: 50 };

        var width = 600 - margin.left - margin.right,
            height = 400 - margin.top - margin.bottom;

        var xNudge = 50;
        var colors = ["#e0f3db", "#43a2ca"];
        var yNudge = -50;

        var minYear = 1908;
        var maxYear = 2009;

        var filter_time = 3;

        var data;

        d3.json("hist.json", function (x) {
            data = x["data"]
            draw(minYear, maxYear)
        })


        function draw(minYear, maxYear) {
            d3.select("#histogram").remove()

            var svg = d3.select("body")
                .append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .attr("id", "histogram")
                .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            var c1 = svg.append("circle")
            var c2 = svg.append("circle")
            c1.on("click", function () {
                filter_time ^= 1
                draw(minYear, maxYear)
            })
            c2.on("click", function () {
                filter_time ^= 2
                draw(minYear, maxYear)
            })
            c1.attr("cx", 50).attr("cy", 15).attr("r", 6).style("fill", colors[0])
            c2.attr("cx", 50).attr("cy", 35).attr("r", 6).style("fill", colors[1])
            var t1 = svg.append("text").attr("x", 70).attr("y", 19).text("Day").style("font-size", "12px").attr("alignment-baseline", "middle")
            var t2 = svg.append("text").attr("x", 70).attr("y", 39).text("Night").style("font-size", "12px").attr("alignment-baseline", "middle")

            if ((filter_time & 1) == 0)
                t1.attr("text-decoration", "line-through")
            if ((filter_time & 2) == 0)
                t2.attr("text-decoration", "line-through")

            var parse = function (d) { return d };
            var dataset = d3.layout.stack()(["Day", "Night"].map(function (time) {
                return data.filter(function (d) {
                    return d.Year >= minYear && d.Year <= maxYear
                }).map(function (d) {
                    if (time === "Day") {
                        if ((filter_time & 1) == 0) {
                            return { x: parse(d.Year), y: 0 };
                        }
                        else {
                            return { x: parse(d.Year), y: d[time] };
                        }
                    }
                    if (time === "Night") {
                        if ((filter_time & 2) == 0) {
                            return { x: parse(d.Year), y: 0 };
                        }
                        else {
                            return { x: parse(d.Year), y: d[time] };
                        }
                    }
                });
            }));

            var x0 = d3.scale.ordinal()
                .domain(dataset[0].map(function (d) { return d.x; }))
                .rangeRoundBands([0, width - xNudge], 0.02);


            var x = d3.scale.linear()
                .domain([minYear, maxYear])
                .range([0, width - xNudge]);

            var y = d3.scale.linear()
                .domain([0, d3.max(dataset, function (d) { return d3.max(d, function (d) { return d.y0 + d.y; }); })])
                .range([height, -yNudge]);

            var yAxis = d3.svg.axis()
                .orient("left")
                .scale(y)

            var xAxis = d3.svg.axis()
                .scale(x).tickFormat(d3.format("d"))
                .orient("bottom")

            svg.append("g")
                .attr("class", "y axis")
                .call(yAxis);

            svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

            var groups = svg.selectAll("g.cost")
                .data(dataset)
                .enter().append("g")
                .attr("class", "cost")
                .style("fill", function (d, i) { return colors[i]; });

            var rect = groups.selectAll("rect")
                .data(function (d) { return d; })
                .enter()
                .append("rect")
                .attr("x", function (d) { return x(d.x); })
                .attr("y", function (d) { return y(d.y0 + d.y); })
                .attr("height", function (d) { return y(d.y0) - y(d.y0 + d.y); })
                .attr("width", x0.rangeBand())
                .on("mouseover", function () { tooltip.style("display", null); })
                .on("mouseout", function () { tooltip.style("display", "none"); })
                .on("mousemove", function (d) {
                    var xPosition = d3.mouse(this)[0] - 15;
                    var yPosition = d3.mouse(this)[1] - 25;
                    tooltip.attr("transform", "translate(" + xPosition + "," + yPosition + ")");
                    tooltip.select("text").text(d.y);
                });

            var tooltip = svg.append("g")
                .attr("class", "tooltip")
                .style("display", "none");

            tooltip.append("rect")
                .attr("width", 30)
                .attr("height", 20)
                .attr("fill", "white")
                .style("opacity", 0.5);

            tooltip.append("text")
                .attr("x", 15)
                .attr("dy", "1.2em")
                .style("text-anchor", "middle")
                .attr("font-size", "12px")
                .attr("font-weight", "bold");

        }

        window.addEventListener("message", (event) => {
            if (event.data.sender == "worldmap") {
                [minYear, maxYear] = event.data.data;
                minYear = Math.floor(minYear);
                maxYear = Math.floor(maxYear);
                draw(minYear, maxYear);
            }
        }, false);

    </script>
</body>

</html>
