<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v7.min.js"></script>


    <style>
        .iframe-container {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>

    <div class="container-fluid">
        <div class="row pb-1">
            <h1 style="margin:auto; font-family: monospace;">TITLE</h1>
        </div>
        <div class="row pb-1">
            <div class="col-md-6 pl-0 pr-1">
                <iframe src="/world_map" class="iframe-container"></iframe>
            </div>

            <div class="col-md-6">
                <div class="row pr-0 pl-1 pb-1">
                    <iframe src="/world_map" class="iframe-container"></iframe>
                </div>
                <div class="row pl-1 pr-0 pt-1">
                    <iframe src="/world_map" class="iframe-container"></iframe>
                </div>
            </div>
        </div>
        <div class="row pt-1">
            <div class="col-md-5 pl-0 pr-1">
                <iframe id="wc" src="/word_cloud" class="iframe-container"></iframe>
            </div>

            <div class="col-md-7 pr-0 pl-1">
                <iframe src="/world_map" class="iframe-container"></iframe>

            </div>
        </div>

    </div>
    <!-- <iframe src="/world_map" style="width: 30%"></iframe> -->

</body>

<script>
    $('#wc').load(function () {
        $(this).height($(this).contents().height());
        $(this).width($(this).contents().width());
    });
</script>

</html>