<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>


    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,600italic,700italic,200,300,400,600,700,900">
    <link rel="stylesheet" type="text/css" href="https://refreshless.com/nouislider/dist/nouislider.css">
    <script src="{{ url_for('static', filename='js/d3.v3.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-queue/3.0.7/d3-queue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/3.0.0/topojson.min.js"></script>
    <script src="{{ url_for('static', filename='js/nouislider.js') }}"></script>
    <style>
        .continent {
            fill: #f0e4dd;
            stroke: #e0cabc;
            stroke-width: 0.5;
        }

        .circles {
            fill: #3c373d;
        }

        .labels {
            font-family: sans-serif;
            font-size: 11px;
            fill: #3c373d;
        }
    </style>
</head>

<body>
    <div id="slider" style="margin:10px;"></div>
    <input type="button" id="refresh" style="margin:10px;" value="Show interval 1908 to 2009">
    <div id="container" class="svg-container"></div>

    <script type="text/javascript">
        var slider = document.getElementById('slider');
        noUiSlider.create(slider, {
            start: [1908, 2009],
            connect: true,
            range: {
                'min': 1908,
                'max': 2009
            }
        });
        var w = 1300;
        var h = 1500;
        var width = w;
        var height = h;
        var initialData;
        var filters = {}
        var minYear = 1908
        var maxYear = 2009

        var svg = d3.select("div#container").append("svg").attr("preserveAspectRatio", "xMinYMin meet").style("background-color", "#c9e8fd")
            .attr("viewBox", "0 0 " + w + " " + h)
            .classed("svg-content", true);
        var projection = d3.geo.mercator().translate([w / 2, h / 2]).scale(200).center([0, 20]);
        var path = d3.geo.path().projection(projection);

        var tooltip;


        d3.json("countries.geojson", function (values) {
            svg.selectAll("path")
                .data(values.features)
                .enter()
                .append("path")
                .attr("class", "continent")
                .attr("d", path);

            d3.csv("dataset_enhanced.csv", function (csv) {
                initialData = csv;
            });
        });


        function drawAllData() {
            var alldata = svg.selectAll("circle")
                .data(initialData)
                .enter()
                .append("circle")
                .attr("cx", function (d) {
                    return projection([d.Lon, d.Lat])[0];
                })
                .attr("cy", function (d) {
                    return projection([d.Lon, d.Lat])[1];
                })
                .attr("r", 2)
                .attr("class", "alldata");
        };

        function drawFilteredData() {
            d3.selectAll(".filtered")
                .remove();

            console.log(minYear, maxYear)
            var filteredData = initialData.filter(function (d) {
                if ((d.Year < minYear) || (d.Year > maxYear)) {
                    return false
                }
                if (filters[d.Operator]) {
                    return !filters[d.Operator]["filtered"]
                }

                return !filters["Other"]["filtered"]
            });
            var filtered = svg.selectAll(".filtered")
                .data(filteredData)
                .enter()
                .append("circle")
                .attr("cx", function (d) {
                    return projection([d.Lon, d.Lat])[0];
                })
                .attr("cy", function (d) {
                    return projection([d.Lon, d.Lat])[1];
                })
                .attr("r", 4)
                .style("fill", function (d) {
                    if (!filters[d.Operator]) {
                        return filters["Other"]["color"]
                    }
                    return filters[d.Operator]["color"]
                })
                .attr("class", "filtered");

            tooltip = svg.append("g")
                .attr("class", "tooltip")
                .attr("display", "none").attr("z-index", 999);

            tooltip.append("rect")
                // .attr("width", 30)
                .attr("height", 20)
                .attr("fill", "white")
                .style("opacity", 0.5);

            tooltip.append("text")
                .attr("x", 15)
                .attr("dy", "1.2em")
                .style("text-anchor", "middle")
                .attr("font-size", "24px");

            filtered
                .on("mouseover", function (d) {
                    var xPosition = d3.mouse(this)[0] - 15;
                    var yPosition = d3.mouse(this)[1] - 25;
                    tooltip.attr("transform", "translate(" + xPosition + "," + yPosition + ")");
                    tooltip.select("text").text(d.Location); tooltip.style("display", "block");
                })
                .on("mouseout", function () { tooltip.style("display", "none"); });
        }

        var s = document.getElementById("refresh");
        document.body.addEventListener("sliderchange", function (e) {
            let [miny, maxy] = e.detail.value

            miny = parseInt(miny)
            maxy = parseInt(maxy)
            s.value = "Show interval " + miny + " to " + maxy
        })

        s.onclick = function () {
            window.parent.window.postMessage({ message: slider.noUiSlider.get(), sender: "worldmap" }, '*');
        };

        window.addEventListener("message", (event) => {
            if (event.data.sender == "worldmap") {
                [minYear, maxYear] = event.data.data;
                minYear = parseInt(minYear)
                maxYear = parseInt(maxYear)
                drawFilteredData();
            }
            else if (event.data.sender == "company_filter") {

                filters = event.data.data

                function waitFor(variable, callback) {
                    var interval = setInterval(function () {
                        if (window[variable]) {
                            clearInterval(interval);
                            callback();
                        }
                    }, 200);
                }

                waitFor('initialData', function () {
                    drawFilteredData();
                });

            }
        }, false);

    </script>

</body>

</html>